:root{
  --white-color: #fff;
  /* --green-color: rgb(255, 174, 53); */
  --green-color: #aee0c1;
  --green-btn-color: #6dca90;
  --text-color: #202430;
  --border-active-color: #e3eee5;
  --column-green-color: #edf5f0;
  --gray-color: #EDEDF5;
  --text-gray-color: #acb1c2;
  --disabled-color: #D3D3D3;
  --proj-color: #ffb55d;
  --filters-color: rgb(255, 174, 53);
}