.p-dialog-header {
    padding: 20px 20px 0px;
}

.p-button {
    background: var(--green-color);
    border: 1px solid var(--green-color);
    box-shadow: none;
}

.p-button:not(:disabled):hover {
    background: var(--proj-color);
    border-color: var(--proj-color);
}

.p-sidebar-header {
    padding-top: 10px;
    padding-left: 15px;
}

.p-dropdown{
    border: unset !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item{
    padding: 2px 1.25em !important;
}

.p-dropdown:not(.p-disabled).p-focus{
    outline: none !important;
    box-shadow: none !important;
}

.p-checkbox-box {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    float: right;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight {
    border-color: var(--green-btn-color);
    background: var(--green-btn-color);
    color: #ffffff;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: rgb(5, 185, 5);
    background: rgb(5, 185, 5);
    color: #ffffff;
}

.p-message {
    height: 50px !important;
    width: 350px !important;
    display: flex;
    align-items: center;
    padding-left: 30px;
    transition: all 0.5s none !important;
    background: rgba(228, 248, 240, 1) !important;
}

.p-message-wrapper > div {
    margin-right: 70px;
    width: 200px;
}

.p-calendar > input {

}

.p-calendar > input {
    margin: 0;
    height: 50px;
    width: 100%;
    padding: 10px;
    padding-left: 35px;
    font-family: sans-serif;
    color: #4a5568;
    background-color: #ffffff;
    border-width: 1px;
    border-color: black;
    transition-property: color;
    transition-duration: 200ms;
    appearance: none;
    border-radius: 8px;
    font-size: 14px;
}

.p-calendar > input:hover {
    border-color: #9ba1aa;
}

.p-input-icon-left > i, .p-input-icon-left > svg, .p-input-icon-right > i, .p-input-icon-right > svg {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
}